.layer{
    height: 100%;
}

.img{
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.pv{
    border-radius: var(--clickable);
    max-width: 480px;
    max-height: 270px;
}

.bigtext{
    font-size: var(--bigtext);
}

@media screen and (max-width: 1000px){
    .img{
        width: 32px;
        height: 32px;
    }
}