<div class="card">
    <b class="flex v-align">
        <img width="64px" height="64px" src="https://collection.wispcrypto.com/asset/logo_stacked.PNG">
        <b class="super-title">Resume</b>
    </b>
    <div class="margin padding">
        <a class="link" routerLink="/home">Home</a>
    </div>
    <div class="flex center">
        <a class="button" target="_blank" href="./assets/Brayan Byrdsong Resume.pdf">PDF</a>
        <a class="button" target="_blank" href="./assets/Brayan Letter of Recomendation.pdf">Letter of Recomendation 1</a>
        <a class="button" target="_blank" href="./assets/Brayan-Recommendation.pdf">Letter of Recomendation 2</a>
        <a class="button" target="_blank" href="./assets/BrayanByrdsong_Recommendation.pdf">Letter of Recomendation 3</a>
    </div>
    <div class="layer flex center column t-center resume">
        <img src="./assets/resume-1.png">
        <img src="./assets/resume-2.png">
        <img src="./assets/resume-3.png">
        <img src="./assets/resume-4.png">
    </div>
</div>