app-home-card{
    width: 100%;
    margin: var(--margin);
}

.home-contents{
    justify-content: center;
}

.home-image img {
    border-radius: var(--round);
    box-shadow: 0 3px 5px var(--shadow);
    margin:  0 5%;
}

.home-image p{
    margin: 0 10%;
}

@media screen and (min-width: 1000px){
    app-home-card{
        width: calc(50% - 9px);
    }
}

@media screen and (max-width: 1000px){
    .home-image{
        flex-direction: column;
    }

    .home-image img{
        margin: var(--margin) auto;
        display: block;
    }
}