<div class="card">
    <b class="flex v-align">
        <a [routerLink]="'/home'">
            <img width="64px" height="64px" src="https://collection.wispcrypto.com/asset/logo_stacked.PNG">
        </a>
        <b class="super-title">Todd Lewis Studios</b>
    </b>
    <div class="margin padding">
        <a class="link" routerLink="/resume">Resume</a>
    </div>
    <hr>
    <div class="flex home-image">
        <div class="margin padding">
            <img width="310px" height="480px" src="./assets/me.jpg">
        </div>
        <div class="flex center column t-center margin padding">
            <b class="header">Brayan Byrdsong</b>
            <br>
            <p>"Hello, I am the creator of TLS. I've previously been a developer for companies such as Chase Bank and UPS. I hold 4 years of professional experience and around 8 years of personal experience. I got into coding at a young age and it truly has become a passion of mine."</p>
            <div class="flex center">
                <a class="button" target="_blank" href="./assets/Brayan Byrdsong Resume.pdf">Resume</a>
            </div>
        </div>
    </div>
    <hr>
    <b class="header t-center margin padding">Studio Projects</b>
    <div class="flex wrap home-contents">
        <app-home-card *ngFor="let card of cards"
            [name]="card.name"
            [link]="card.link"
            [tag]="card.tag"
            [img]="card.img"
            [pv]="card.pv"
        >
            <p *ngFor="let p of card.p">{{p}}</p>
        </app-home-card>
    </div>
</div>